<ion-view title="Welcome" class="tour">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-slide-box>

        <ion-slide>
            <div class="logo-tour"><img src="img/logo.png" /></div>
            <h2>Welcome to<br />PIF</h2>
        </ion-slide>
        <ion-slide>
            <p>Easy product search with</p>
            <h3>Barcode Scanner</h3>
            <div class="tour-img"><img src="img/OJKB7G1.png" /></div>

        </ion-slide>
        <ion-slide>
            <p>Keeps you guided by our product information table.</p>
            <h3>To protect your health</h3>
            <p>of day to day.</p>
            </h3>
            <div class="tour-img"><img src="img/OJKB7G1.png" /></div>

        </ion-slide>
        <ion-slide>
            <h3>View your reservation</h3>
            <h3>Call the concierge</h3>
            <h3>Order room service</h3>
            <h3>Discover resort events</h3>
            <h3>Find local places</h3>
            <h3>and much more!</h3>
        </ion-slide>
        <ion-slide>
            <div class="logo-tour"> <img src="img/logo.png" /></div>
            <button class="button" ng-click="login()">Get Started</button>
        </ion-slide>
    </ion-slide-box>
</ion-view>