<ion-view title="">

    <ion-content scroll="false" class="home">
        <div class="component">

            <!-- Start Nav Structure -->
            <button class="cn-button" id="cn-button"><i class="icon ion-grid"></i></button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <!-- <li><a href="#/"><i class="icon ion-home"></i></a></li>-->
                    <li><a href="#/reservation"><i class="icon ion-android-favorite"></i></a></li>

                    <li><a href="#/about"><i class="icon ion-ios-barcode-outline"></i></a></li>
                    <!-- <li><a href="#/about"><i class="icon icon-barcode-search"></i></a></li>-->
                    <li><a href="#"><i class="icon ion-ios-person"></i></a></li>
                    <li><a href="#"><i class="icon ion-ios-pint"></i></a></li>
                    <li><a href="#"><i class="icon ion-ios-search"></i></a></li>
                    <li><a href="#"><i class="icon ion-ios-settings-strong"></i></a></li>
                    <!-- <li><a href="#"><span><i class="icon ion-home"></i></a></li>
                    <li><a href="#"><span><i class="icon ion-android-favorite"></i></span></a></li>
                    <li><a href="#"><span><i class="icon ion-barcode-search"></i></span></a></li>
                    <li><a href="#"><span><i class="icon ion-ios-person"></i></span></a></li>
                    <li><a href="#"><span><i class="icon ion-cokebottle"></i></span></a></li>
                    <li><a href="#"><span><i class="icon ion-ios-search"></i></span></a></li>
                    <li><a href="#"><span><i class="icon ion-ios-search"></i></span></a></li>-->
                </ul>
            </div>
            <!-- End of Nav Structure -->
        </div>
        <!-- <div class="component">


            <circular options="options"> </circular>

        </div>-->


        <!-- <div class="card">
            <div class="item item-divider">Welcome to Sunshine Resort</div>
            <div class="item item-text-wrap">
                We hope you enjoy your stay! Here you can see the daily schedule. You can view the events list to add things to your schedule or discover local places in the menu.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">Current Weather</div>
            <div class="item" ng-if="!weather"><span class="icon ion-loading-d"></span></div>
            <div class="item item-text-wrap">
                <p>Currently {{weather.main.temp}}&deg;F and {{weather.weather[0].description}}.</p>
            </div>
            <a class="item button button-positive button-block" href="#/weather">See Forecast</a>
        </div>

        <div class="card">
            <div class="item item-divider">Today's Events</div>
            <div class="item" ng-if="!today"><span class="icon ion-loading-d"></span></div>
            <div class="item" ng-repeat="item in today.events">{{item.event}}, {{item.time}}</div>
            <a class="item button button-positive button-block" href="#/events">See all events</a>
        </div>

        <div class="card">
            <div class="item item-icon-left" ng-click="openComments()">
                <i class="icon ion-chatbubble"></i> Send us a comment
            </div>
        </div>-->
        <div id="coca-cola"></div>
        <iframe src='nav-components/animated/animated-bubbles.html' frameborder='0' id='animated' class='sourceView' noresize='noresize'></iframe>

    </ion-content>

</ion-view>